/* fonts */
p {
    font-size: 20px;
}

p.serif {
    font-family: "Times New Roman", Times, serif;
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("");
}

/* tab 2 */

body {font-family: "Lato", sans-serif;}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

#home {background-color:#b1e1e2;}
#about {background-color:#3fd7a9;}
#discord {background-color:#7289DA;}
#ok {background-color:#ffcccc;}
#meme {background-color:#2C2F33;}
#music {background-color:#b1e1e2;}
#umu {background-color:#3b5998;}
#rng {background-color:#00bdff;}


/* loading button css */

.buttonload {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
}

.fa {
    margin-left: -12px;
    margin-right: 8px;
}

/* meme text */


/* footer meme */

H4 {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count:
 infinite;
    -webkit-animation-name: colours;
    -webkit-animation-timing-function:
 ease;
}

@-webkit-keyframes colours {
      0% {color: #ff0000;}
     40% {color: #00ff00;}
     80% {color: #0000ff;}
   100%{color: #ff0000;}
}

/* rng */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

#rng {
   font: 24px Helvetica;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

#rng-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}


  #rng-input {
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-flow: column;
   }

.Generate {
       background-color: #00bdff;
       border: none;
       color: white;
       padding: 12px 24px;
       font-size: 24px;
       outline:none;
   }

.Play {
    background-color: #7ddfff;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 24px;
    outline:none;
}

.space1 {
  padding: 2em;
}

.button {
    background-color:#ffffff;
    border: none;
    color: white;
    padding: 10px 400px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.number {
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #00bdff;
  border-left: 0;

  outline:none;
  background-color:#00bdff;
  color: white;
  font-size: 20px;

}
/* rng */


/* fin */
